type wlan_device, dev_type;

type diag_device, dev_type;
type ramdump_device, dev_type;

type smd_device, dev_type;

# Shared memory logger
type shared_log_device, dev_type;

type power_control_device, dev_type;

# Real Time Clock
type rtc, dev_type;
