allow healthd device:dir r_dir_perms;
allow healthd self:capability dac_override;
allow healthd rtc:chr_file rw_file_perms;
allow healthd alarm_device:chr_file write;
