# irsc_util (used to configure IPC Router with security rules for QMI services)
type irsc_util, domain, domain_deprecated;
type irsc_util_exec, exec_type, file_type;

init_daemon_domain(irsc_util)

allow irsc_util self:socket create_socket_perms;
