userdebug_or_eng(`
  # perfprofd disables mpdecision temporarily via setprop ctl.stop,
  # then re-enables afterwards with setprop ctl.start
  set_prop(perfprofd, ctl_mpdecision)
')
