allow platform_app time:unix_stream_socket connectto;

userdebug_or_eng(`
  # qxdmlogger access to /data/diag_logs.
  allow platform_app diag_logs:dir rw_dir_perms;
  allow platform_app diag_logs:file create_file_perms;
')
