# Talk to qmuxd (/dev/socket/qmux_radio)
qmux_socket(radio)

# text relocation in /system/vendor/lib/libvdmengine.so
#allow radio system_file:file execmod;

allow radio system_app_data_file:dir search;
