# Talk to qmuxd (/dev/socket/qmux_radio)
qmux_socket(radio)

# Grant access to qmux socket that is created by rild
allow radio rild_qmuxd_socket:sock_file rw_file_perms;
