# Talk to qmuxd (/dev/socket/qmux_radio)
qmux_socket(radio)

# text relocation in /system/vendor/lib/libvdmengine.so
allow radio system_file:file execmod;

allow radio system_app_data_file:dir search;

# Grant access to qmux socket that is created by rild
allow radio rild_qmuxd_socket:sock_file rw_file_perms;
