allow tee self:process execmem;

# /data/misc/playready labeling
type_transition tee system_data_file:dir drm_data_file;

# Access /data/misc/playready
allow tee system_data_file:dir ra_dir_perms;
allow tee drm_data_file:dir create_dir_perms;
allow tee drm_data_file:file create_file_perms;

# Read from persist partition
allow tee persist_file:dir r_dir_perms;
r_dir_file(tee, persist_data_file)
r_dir_file(tee, persist_drm_file)
# Write to drm related pieces of persist partition
allow tee persist_drm_file:dir create_dir_perms;
allow tee persist_drm_file:file create_file_perms;

# Allow tee to load firmware images
allow tee firmware_file:dir r_dir_perms;
allow tee firmware_file:file r_file_perms;

# b/15777869 - update for Nexus 5 modular DRM

# tee starts as root, and drops privileges
allow tee self:capability { setuid setgid };

# Need to directly minipulate certain block devices
# for anti-rollback protection
allow tee block_device:dir search;
allow tee self:capability sys_rawio;
allow tee drm_block_device:blk_file rw_file_perms;
allow tee ssd_block_device:blk_file rw_file_perms;
