type time, domain;
type time_exec, exec_type, file_type;

# Started by init
init_daemon_domain(time)

# Is r_file_perms sufficient for /dev/rtc0 ?
allow time rtc:chr_file rw_file_perms;

allow time time_data_file:dir rw_dir_perms;
allow time time_data_file:file create_file_perms;

allow time shared_log_device:chr_file rw_file_perms;
allow time alarm_device:chr_file rw_file_perms;
allow time self:socket *;

allow time self:capability { setuid setgid };
