allow ueventd { firmware_file wifi_data_file }:dir r_dir_perms;
allow ueventd { firmware_file wifi_data_file }:file r_file_perms;
allow ueventd sysfs_smdcntl_open_timeout:file setattr;

# For /sys/devices/virtual/graphics/fb1/uevent
allow ueventd sysfs_surfaceflinger:file rw_file_perms;
