/dev/genlock              0666   system     system
/dev/kgsl                 0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/diag                 0666   root       root
/dev/mdm                  0660   system     radio
/dev/ttyUSB0              0660   system     system
